%nav
  #container
    %ul.first-nav
      %li
        =link_to "网络寻租", "/", true
      %li 
        =link_to "列表", "/list", true
      %li 
        =link_to "关于", "/about", true
  
    %ul.secondary-nav
      %li
        =link_to "feed", "/feed"

    %select#color-select
      %option 1
      %option 2
      %option 3
      %option 4
      %option 5

