#sidebar

  <!-- search -->
  <div id="cse" style="width: 100%">Loading</div>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
  google.load('search', '1', {language : 'zh-CN'});
  google.setOnLoadCallback(function() {
  var customSearchControl = new google.search.CustomSearchControl('002734431627809209205:lri3bo2cxbs');
  customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
  customSearchControl.draw('cse');
  }, true);
  </script>

  <!-- for twitter -->
  %script{:src => "http://widgets.twimg.com/j/2/widget.js"}
  :javascript
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 3,
      interval: 30000,
      width: 250,
      height: 200,
      theme: {
        shell: {
          background: '#727872',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#000000',
          links: '#07abab'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('linjunhalida').start();


