<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/">

%channel
  <title>网络寻租</title>
  <link>http://blog.linjunhalida.com/</link>
  <description><![CDATA[网络寻租]]></description>
  <language>zh-cn</language>
  <copyright>&amp;copy; 2010, linjunhalida.</copyright>
  <pubDate>#{@updated}</pubDate>

  -@articles.each do |article|
    %item
      <title>#{article.title}</title>
      <link>http://blog.linjunhalida.com/article/#{article.title}</link>
      <content:encoded>
      =article.get_content
      </content:encoded>
      <dc:creator>机械唯物主义</dc:creator>
      <pubDate>#{article.created}</pubDate>

</rss>
