-@articles.each do |article|

  %h1#article-title
    =link_to article.show_title, "/article/#{article.title}"

  #article
    =article.content

  %p#time-stamp
    建立时间: #{article.created}<br/>更新时间: #{article.updated}

  %hr
  %br
  %br

#paginate
  <a href="?starts=#{@articles[-1].id}" class="js-pjax btn primary">更多</a>
