-@articles.each do |article|

  %h1#article-title
    =link_to article.show_title, "/article/#{article.title}", true

  #article
    =article.get_content

  = partial :_stamp, :locals => {:article => article}

#paginate
  <a href="?starts=#{@articles[-1].id}" class="js-pjax btn primary">更多</a>
