<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
%html
  %head
    %title= @title || "网络寻租"
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="halida" />
    <link rel="stylesheet" type="text/css" href="/pygments-default.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/main.css" media="screen" />
    <link rel="alternate" type="application/rss+xml" title="网络寻租 - RSS" href="http://blog.linjunhalida.com/feed" /> 

    <script src="/jquery.js"></script>
    <script src="/jquery.pjax.js"></script>
    <script src="/main.js"></script>
    <script type="text/javascript">
    $(function(){init_pjax();});
    </script>    

  %body
    = partial :_nav

    .two-col
      #content
        =yield

      = partial :_side

    %footer
      %p @2010 linjunhalida, all right reserved

