<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
%html
  %head
    %title {{title}}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="halida" />
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/pygments-default.css" media="screen" />
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19976547-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>    
    <link rel="stylesheet" type="text/css" href="/blogstyle.css" media="screen" />

  %body

    #top-nav
      #top-nav-items
        %ul
          %li 
            %a{:href=>"/blog"} 网络寻租
          %li 
            %a{:href=>"/list"} 列表
          %li 
            %a{:href=>"/article/机械唯物主义"} 关于
          %li
            %a{:href=>"/rss"} rss
          %li
            %a{:href=>"/feed"} feed

    %hr

    #wrapper

      #header
        %h1= @header || "网络寻租"

      #content
        =yield

      #sidebar
        <!-- search -->
        <div id="cse" style="width: 100%">Loading</div>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
        google.load('search', '1', {language : 'zh-CN'});
        google.setOnLoadCallback(function() {
        var customSearchControl = new google.search.CustomSearchControl('002734431627809209205:lri3bo2cxbs');
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        customSearchControl.draw('cse');
        }, true);
        </script>
        <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
        <!-- for twitter -->
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
        new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 4,
        interval: 6000,
        width: 200,
        height: 300,
        theme: {
        shell: {
        background: '#f0f0f0',
        color: '#000000'
        },
        tweets: {
        background: '#f0f0f0',
        color: '#000000',
        links: '#008000'
        }
        },
        features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
        }
        }).render().setUser('linjunhalida').start();
        </script>

      #footer @2010 linjunhalida, all right reserved
