!!!
%html
  %head
    %title= @title || "网络寻租"
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="halida" />
    <link rel="stylesheet" type="text/css" href="/pygments-default.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" id="color-css" href="/color4.css"/>
    <link rel="alternate" type="application/rss+xml" title="网络寻租 - RSS" href="http://blog.linjunhalida.com/feed" /> 

    <script src="/jquery.js"></script>
    <script src="/jquery.pjax.js"></script>
    <script src="/jquery.appear-1.1.1.min.js"></script>
    <script src="/main.js"></script>
    <script src="/vim.js"></script>

    :javascript
      $(function(){init(); init_vim_key('#content')});

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26509244-1']);
      _gaq.push(['_trackPageview', '_trackPageLoadTime']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #warper
      = partial :_nav
      #block-nav
      #content=yield
      = partial :_footer

    = partial :_chat

    #return-top-block
      #return-top-inner
        %a{:id => "return-top", :onclick => "javascript: $('html,body').animate({scrollTop: 0}, 400);"}= "===>"

