!!!
%html
  %head
    %title= @title || "网络寻租"
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="halida" />
    <link rel="stylesheet" type="text/css" href="/pygments-default.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/main.css" media="screen" />
    <link rel="alternate" type="application/rss+xml" title="网络寻租 - RSS" href="http://blog.linjunhalida.com/feed" /> 

    <script src="/jquery.js"></script>
    <script src="/jquery.pjax.js"></script>
    <script src="/jquery.appear-1.1.1.min.js"></script>
    <script src="/main.js"></script>
    :javascript
      $(function(){init_pjax();});

  %body
    = partial :_nav

    #warper
      #content
        =yield

      = partial :_side

    = partial :_footer

