@import compass/reset
@import compass/utilities
@import compass/css3
@import compass/reset.scss
@import compass/layout.scss
@import blueprint

// Base font
=font-default
  font: 16px Arial, Helvetica, sans-serif
=font-header
  font: 40px Arial, Helvetica, sans-serif
=font-footer
  font: 10px Arial, Helvetica, sans-serif
  color: #aaaaaa

//layouts
$grid : 80px
$content-width: 12 * $grid

// Links
a
  text-decoration: none
  color: #3366CC
  &:hover
    color: #3366CC
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited
    // Default style for visited links
  &:hover
    color: #444444

body
  +font-default
  background: white
  color: #0d0d0d
  align: center

#nav
  +opacity(0.8)
  top: 0px
  width: 100%
  position: fixed

  #container
    +border-radius(6px)
    background: #323232
    border: 1px solid #000000
    width: $content-width + 20px
    margin: 10px auto
    height: 30px
  
    .secondary-nav
      float: right
  
    a
      color: white
      &:hover
        color: #ff4444

    ul
      float: left
      li
        display: inline
        line-height: 30px
        padding: 0 15px

 
h1
  +font-header

#warper
  margin: 60px auto 20px auto
  width: $grid * 12

  #sidebar
    float: right
    width: $grid * 3
  #content
    float: left
    width: $grid * 8


+sticky-footer(72px, "#layout", "#layout_footer", "footer")

footer
  width: $content-width
  margin: 10px auto
  align: center
  +font-footer

  $blueprint_grid_columns : 8
  $blueprint_grid_width : 80px

  .info
    +column(3)

  .time
    +column(5)

#comments
  margin-top: 90px

#time-stamp
  margin-top: 10px
  text-align: right
